body {
    margin: 0;
}

.header {
    background: url("./assets/hero.PNG") no-repeat;
    width: 100%;
    height: 100%;
    background-position: unset;
}

@media screen and (max-width: 790px) {
    .header {
        background-position: top;
    }
}

.section-title {
    font-family: "Fjalla One", sans-serif;
    border-bottom: 1px solid black;
    font-size: 30px;
    color: black;
}

.main {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
}

.items {
    height: auto;
    width: 100%;
    padding: 20px 0;
}

#mission {
    height: 500px;
    padding: 30px 20%;
    background: gray;
    /* background: red; */
    /* position: relative;
    top: -100px; */
}

.member-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.member {
    /* height: 400px;
    width: 300px; */
    /* background: purple; */
    margin: 30px 0;
}

.member>p {
    margin: 20px;
    color: black;
}

#contact {
    margin: auto;
    padding: 30px 20%;
    /* width: 80%; */
}

.product {
    height: 300px;
    width: 100%;
    opacity: 0.8;
    margin: auto;
    color: black;
}

#service {
    padding: 30px 20%;
    text-align: center;
    margin: 100px 0;
}

#members {
    padding: 30px 20%;
    background: gray;
}

.slogan {
    margin: 150px auto;
    font-size: 50px;
    color: black;
}

.product>p {
    margin: 300px auto;
}

.contact-form {
    margin: 50px 0;
    padding: 0 20%;
}

.about-items {
    margin: 30px 20%;
}

.about-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 0;
}

#about-us {
    padding: 30px 20%;
    margin: 30px 0;
    text-align: center;
}

.about-title {
    font-weight: 600;
}